.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media screen and (max-width: 480px) {
  body {
     max-height: 100vh;
     overflow-y: hidden;
     overflow-x: hidden;
  }
}


/**/
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  padding-top: 70vh;
  padding-bottom: 5vh;
}

.player{
  margin-top: 70vh;
}

input:hover{
  cursor: pointer;
}

.controls{
  position: relative;
  top: 80vh;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 100%;
}

#player {
  text-align:center;
}
/*
.speaker {
	height: 30px;
	width: 30px;
	position: relative;
	overflow: hidden;
	display: inline-block;
}
span {
		display: block;
		width: 8px;
		height: 8px;
		background: #fff;
		margin: 11px 0 0 2px;
}
span:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-color: transparent #fff transparent transparent;
			border-width: 10px 14px 10px 15px;
			left: -13px;
			top: 5px;
}

span:before {
			transform: rotate(45deg);
			border-radius: 0 50px 0 0;
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			border-style: double;
			border-color: #fff;
			border-width: 7px 7px 0 0;
			left: 18px;
			top: 9px;
			transition: all 0.2s ease-out;
		}

span:hover 
span:before {
			transform: scale(.8) translate(-3px, 0) rotate(42deg);		
    }
  
span .mute 
span:before {
			transform: scale(.5) translate(-15px, 0) rotate(36deg);
      opacity: 0;
    }
*/

body {
  color: #fff;
  font-family: arial, sans-sarif;
  background-color: #333;
  text-align: center;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    min-width: 100px;
    width: 5vw;
    -webkit-appearance: none;
    background-color: #ff7d41;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #57ffd5;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #1a1818;
    box-shadow: -80px 0 0 80px #57ffd5;
  }

  
}

input[type="range"]::-moz-range-progress {
background-color: #57ffd5; 
}
input[type="range"]::-moz-range-track {  
background-color: #ff7d41;
}

input[type="range"]::-ms-fill-lower {
background-color: #57ffd5; 
}
input[type="range"]::-ms-fill-upper {  
background-color: #ff7d41;
}

#player	i {
  
  color: rgb(247, 236, 236);
}

#player	i.fa-volume-down {
  
}

#player	i.fa-volume-up {
  
}

i{
  visibility: hidden;
}
.active{
  background-color: black;
}







/* Slider 

#player {
	width: 350px;
	height: 50px;
	position: relative;
	margin: 0 auto;
	top: 80px;
}	

#volume {
	position: absolute;
	left: 24px;
	margin: 0 auto;
	height: 5px;
	width: 300px;
	background: #555;
	border-radius: 15px;
}
#volume	.ui-slider-range-min {
		height: 5px;
		width: 300px;
		position: absolute;
		background: #2ecc71;
		border: none;
		border-radius: 10px;
  	outline: none;
	}
	
#volume	.ui-slider-handle {
		width: 20px;
  	height: 20px;
		border-radius: 20px;
  	background: #FFF;
  	position: absolute;
  	margin-left: -8px;
  	margin-top: -8px;
  	cursor: pointer;
  	outline: none;
  }
  */