.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media screen and (max-width: 480px) {
  body {
     max-height: 100vh;
     overflow-y: hidden;
     overflow-x: hidden;
  }
}


/**/
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  padding-top: 70vh;
  padding-bottom: 5vh;
}

.player{
  margin-top: 70vh;
}

input:hover{
  cursor: pointer;
}

.controls{
  position: relative;
  top: 10vh;
}

#player{
  margin-right: 80vw;
}
#info{
  margin-left: 80vw;
}

.speaker {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  /*stay on 100*/
  opacity: 100%;
}

.speaker span {
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  margin: 11px 0 0 2px;
}
.speaker span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: 10px 14px 10px 15px;
  left: -13px;
  top: 5px;
}
.speaker span:before {
  transform: rotate(45deg);
  border-radius: 0 50px 0 0;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-style: double;
  border-color: #fff;
  border-width: 7px 7px 0 0;
  left: 20px;
  top: 10px;
  transition: all 0.2s ease-out;
}
.speaker:hover span:before {
  transform: scale(0.8) translate(-3px, 0) rotate(42deg);
}
.speaker.mute span:before {
  transform: scale(.5) translate(-15px, 0) rotate(36deg);
  opacity: 0;
}
body {
  color: #fff;
  font-family: arial, sans-sarif;
  background-color: #333;
  text-align: center;
}









/* Slider 

#player {
	width: 350px;
	height: 50px;
	position: relative;
	margin: 0 auto;
	top: 80px;
}	

#volume {
	position: absolute;
	left: 24px;
	margin: 0 auto;
	height: 5px;
	width: 300px;
	background: #555;
	border-radius: 15px;
}
#volume	.ui-slider-range-min {
		height: 5px;
		width: 300px;
		position: absolute;
		background: #2ecc71;
		border: none;
		border-radius: 10px;
  	outline: none;
	}
	
#volume	.ui-slider-handle {
		width: 20px;
  	height: 20px;
		border-radius: 20px;
  	background: #FFF;
  	position: absolute;
  	margin-left: -8px;
  	margin-top: -8px;
  	cursor: pointer;
  	outline: none;
  }
  */